@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 166, 166, 166;
    --color-fill: 47, 48, 54;
    --color-bg-main: 32, 34, 37;
    --color-button-accent: 119, 119, 221;
  }
  :root {
    --reach-tabs: 1;
  }
}

.width-full {
  min-height: calc(100vh - 2.5rem);
}

@layer utilities {
  .scrollbar {
    scrollbar-color: red white;
    scrollbar-width: thin;
  }
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    -webkit-box-shadow: inset 0 0 6px #000;
  }
  .scrollbar::-webkit-scrollbar-corner {
    display: none;
    height: 0;
    width: 0;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #9980fa;
  }
  .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 0 #fff;
    background: #bdbdcf;
  }
}
